@import url('https://fonts.googleapis.com/css2?family=Mina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@200&display=swap');

body{
    font-family: 'Mina', sans-serif;
    background: radial-gradient(circle, rgba(165,248,203,1) 0%, rgba(229,165,255,1) 100%) no-repeat;
}

header p{
    font-family: 'Linefont', sans-serif;
}

section{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    padding: 30px;
}

section img{
    border-radius: 100%;
    width: 150px;
}

nav{
    margin: 5% 0 0 2%;
    width: 25%;
}

.infos{
    margin: 10% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}